asgiref==3.2.10
beautifulsoup4==4.9.1
Django==3.0.9
django-bootstrap-static==4.2.1
pytz==2020.1
soupsieve==2.0.1
sqlparse==0.3.1
asgiref==3.2.10
beautifulsoup4==4.9.1
Django==3.0.9
django-bootstrap-static==4.2.1
django-widget-tweaks==1.4.8
pytz==2020.1
soupsieve==2.0.1
sqlparse==0.3.1
